.login {
    background-color: #ecececd5;
}

.login-btn {
    width: 100%;
    padding: 8px 0;
    font-size: 18px;
    border: none;
    background-color: #0269ce;
    color: white;
    border-radius: 5px;
}
.create-ac-btn {
    display: block;
    width: 50%;
    padding: 8px 0;
    margin:0 auto;
    border: none;
    background-color: #00aa1c;
    color: white;
    text-align: center;
    border-radius: 5px;
    text-decoration: none;
}
.eye-icon{
    position: absolute;
    top: 18px;
    right: 15px;
    cursor: pointer;
}

.google-login {
    width: 100%;
    padding: 5px;
    font-size: 16px; 
    border: none;
    border-radius: 22px;
    cursor: pointer;
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
 