
.chat-sidebar {
    height: calc(100vh - 60px);
    overflow-y: auto;
    background-color: white;
}

.sidebar-first {
    position: sticky;
    top: 0px;
    background-color: white;
}

.search-results {
    max-height: 250px;
    overflow-y: auto;
}


.sidebar-container::-webkit-scrollbar,
.sidebar-first::-webkit-scrollbar,
.chat-sidebar::-webkit-scrollbar,
.search-results::-webkit-scrollbar {
    width: 5px;
}

.sidebar-container::-webkit-scrollbar-track,
.chat-sidebar::-webkit-scrollbar-track,
.search-results::-webkit-scrollbar-track {
    background-color: #ebebeb;
}

.sidebar-container::-webkit-scrollbar-thumb,
.chat-sidebar::-webkit-scrollbar-thumb,
.search-results::-webkit-scrollbar-thumb {
    background-color: #888888;
}