.user-img img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    cursor: pointer;
}

.post-review .hart {
    position: relative;
    display: inline-block;
    margin: 0 8px;
    z-index: 1;
    line-height: 27px;
    padding: 0 0 0 5px;
    text-align: center;
    color:white;
    font-size: 14px;
    cursor: pointer;
}
.post-review .hart:first-child::after {
    /* background-color: #21aeff; */
    background-color: red;
}
/* .post-review i:nth-child(2)::after {
    background-color: #ff4221;
}
.post-review i:nth-child(3)::after {
    background-color: red;
} */
.post-review .hart::after {
    content: '';
    position: absolute;
    width: 25px;
    height: 25px;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    z-index: -1;
    border-radius: 50%;
}

.post-img{
    max-height: 450px !important;
    min-width: 400px;
    object-fit: contain;
}