::-webkit-scrollbar {
  width: 0px;
}
.cursor-pointer{
  cursor: pointer;
}
.capitalize{
  text-transform: capitalize;
}
.height-100{
  height: calc(100vh - 60px); 
}
pre p{
  margin-bottom: 0px;
}
.selected {
  background-color: #b9f5d042;
}